<% if @recent_builds %>
  <% @recent_builds.each do |recent_build| %>
    <section class=<%= recent_build['outcome'] %>>
      <h2>
        #<%= recent_build['build_num'] %>   <%= recent_build['branch'] %>
      </h2>

      <h3>
        <% if recent_build['all_commit_details'].length > 0 %>
          <%= recent_build['all_commit_details'].first['committer_name']%>
          <em> and </em>
          <%= recent_build['all_commit_details'].first['author_name']%>
        <% end %>
      </h3>
      <h4><em><%= recent_build['stop_time'] %></em></h4>
    </section>
  <% end %>

  <script type="text/javascript">
    setTimeout(function(){
      location = ''
    }, 30000)
  </script>

<% else %>
  <h3>enter a token</h3>
<% end %>
