<% if @master %>

  <hr />

  <section class=<%= @master['outcome'] %>>
    <h1>
      TF / <%= @master['branch'] %>
    </h1>

    <h3>
      <% if @master['all_commit_details'].length > 0 %>
        <%= author_names(
          @master['all_commit_details'].last['committer_name'],
          @master['all_commit_details'].last['author_name']
        ) %>
      <% end %>
    </h3>
    <% if @master['stop_time'] %>
      <h4><em><%= time_ago_in_words(@master['stop_time']) %></em></h4>
    <% else %>
      <h4><em>building...</em></h4>
    <% end %>
  </section>

  <hr />

<% end %>

<% if @recent %>
  <% @recent.each do |recent| %>
    <section class=<%= recent['outcome'] %>>
      <h1>
        TF / <%= recent['branch'] %>
      </h1>

      <h3>
        <% if recent['all_commit_details'].length > 0 %>
          <%= author_names(
            recent['all_commit_details'].last['committer_name'],
            recent['all_commit_details'].last['author_name']
          ) %>
        <% end %>
      </h3>
      <% if recent['stop_time'] %>
        <h4><em><%= time_ago_in_words(recent['stop_time']) %></em></h4>
      <% else %>
        <h4><em>building...</em></h4>
      <% end %>
    </section>
  <% end %>

  <script type="text/javascript">
    setTimeout(function(){
      location = ''
    }, 30000)
  </script>

<% else %>
  <h3>enter a token</h3>
<% end %>
