<% if @recent_builds %>
  <% @recent_builds.each do |recent_build| %>
    <section class=<%= recent_build['outcome'] %>>
      <h2>
        TF / <%= recent_build['branch'] %>
      </h2>

      <h3>
        <% if recent_build['all_commit_details'].length > 0 %>
          <%= recent_build['all_commit_details'].first['committer_name']%>
          <em> and </em>
          <%= recent_build['all_commit_details'].first['author_name']%>
        <% end %>
      </h3>
      <% if recent_build['stop_time'] %>
        <h4><em><%= time_ago_in_words(recent_build['stop_time']) %></em></h4>
      <% else %>
        <h4><em>building...</em></h4>
      <% end %>
    </section>
  <% end %>

  <script type="text/javascript">
    setTimeout(function(){
      location = ''
    }, 30000)
  </script>

<% else %>
  <h3>enter a token</h3>
<% end %>
